<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<!-- Container chính sử dụng flexbox -->
<div class="container">
    <!-- Sidebar -->
    <aside class="sidebar" th:fragment="sidebar">
        <div class="logo">
            <a th:href="@{/}">Quản lý thành viên</a>
        </div>
        <ul class="nav-links">
            <li>
                <a class="menu-button" th:href="@{/QLThanhVien}" target="content-frame"><img th:src=${"/imgs/icons8-member-30.png"} alt=""> &nbsp;THÀNH VIÊN</a>
            </li>
            <li>
                <a class="menu-button" th:href="@{/QLThietBi}" target="content-frame"><img th:src=${"/imgs/icons8-micro-30.png"} alt="">&nbsp; THIẾT BỊ</a>
            </li>
            <li>
                <a class="menu-button" th:href="@{/QLXuLy}" target="content-frame"><img th:src=${"/imgs/icons8-abuse-30.png"} alt="">&nbsp; XỬ LÝ</a>
            </li>
            <li>
                <a class="menu-button" th:href="@{/ThongKe}" target="content-frame"><img th:src=${"/imgs/icons8-dashboard-30.png"} alt="">&nbsp; THỐNG KÊ</a>
            </li>
        </ul>
    </aside>

    <!-- Main content -->
    <main class="main-content" th:fragment="main-content">
        <iframe name="content-frame" src="" width="100%" height="100%">
            Trình duyệt của bạn không hỗ trợ iframe.
        </iframe>
    </main>
</div>
</body>
</html>
