<!doctype html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>List Thiết Bị</div>
<form th:action="@{/QLThietBi/searchTB}" method="post">
    Loại TB:
    <select id="cbtenTB" name="cbtenTB">
        <!-- Lặp qua danh sách các thành phố -->
        <option th:value="0" th:text="All" ></option>
        <option th:value="1" th:text="micro" ></option>
        <option th:value="2" th:text="máy_chiếu" ></option>
        <option th:value="3" th:text="máy_ảnh" ></option>
        <option th:value="4" th:text="cassette"></option>
        <option th:value="5" th:text="tivi"></option>
        <option th:value="6" th:text="quạt_đứng"></option>
    </select>

    Mô tả:
    <input type="text" name="mota"/>
    <button type="submit">Lọc</button>
</form>
<br>
<form action="/QLThietBi/deleteSelected" method="post" id="deleteForm">
    <input type="hidden" id="selectedItems" name="selectedItems">
    <input type="submit" value="Delete Selected" onclick="return updateSelectedItems()">
</form>
<table border="1">
    <tr>
        <th>MaTb</th>
        <th>TenTB</th>
        <th>MotaTB</th>
        <th>Chức năng</th>
        <th>Select</th>
    </tr>
    <tr th:each ="row : ${data}">
        <td th:utext="${row.maTB}">...</td>
        <td th:utext="${row.tenTB}">...</td>
        <td th:utext="${row.moTa}">...</td>
        <td >  
            <a th:href="'/QLThietBi/edit/'+ ${rowStat.index}" >Edit</a>  
            <a th:href="'/QLThietBi/delete/'+ ${rowStat.index}">Delete</a>  
        </td>
        <td>
            <input type="checkbox" th:id="'checkbox_' + ${rowStat.index}" name="selectedItems" th:value="${row.maTB}" onchange="updateSelectedItems()">
        </td>
    </tr>
</table>
<p><a href="/addTB">Thêm thiết bị</p>
    

    <script th:inline="javascript">
        function updateSelectedItems() {
            var selectedItems = [];
            var checkboxes = document.querySelectorAll('input[name="selectedItems"]:checked');
            checkboxes.forEach(function(checkbox) {
                selectedItems.push(checkbox.value);
            });
            var selectedItemsField = document.getElementById('selectedItems');
            if (selectedItems.length > 0) {
                selectedItemsField.value = selectedItems.join(',');
            } else {
                alert("Please select at least one item.");
                return false; // Ngăn form được gửi đi
            }
            console.log(selectedItems);
        }
    </script>
    
</body>
</html>