<!doctype html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>List Thiet Bi</div>
<table border="1">
    <tr>
        <th>MaTb</th>
        <th>TenTB</th>
        <th>MotaTB</th>
        
    </tr>
    <tr th:each ="row : ${data}">
        <td th:utext="${row.maTB}">...</td>
        <td th:utext="${row.tenTB}">...</td>
        <td th:utext="${row.moTa}">...</td>
    </tr>
</table>
</body>
</html>