<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2 style = "text-align: center;"> DANH SÁCH XỬ LÝ </h2>


<form th:action = "@{/QLXuLy/searchXL}" method = "post">
    

</form>


<table border="1">
    <tr>
        <th>Mã xử lý</th>
        <th>Mã thành viên</th>
        <th>Hình thức xử lý</th>
        <th>Số tiền</th>
        <th>Ngày xử lý</th>
        <th>Trạng thái</th>

        <th> Chức năng </th>
    </tr>
    <tr th:each ="row : ${data}">
        <td th:utext="${row.maXL}">...</td>
        <td th:utext="${row.maTV}">...</td>
        <td th:utext="${row.hinhThucXL}">...</td>
        <td th:utext="${row.soTien}">...</td>
        <td th:utext="${row.ngayXL}">...</td>
        <td th:utext="${row.trangThaiXL}">...</td>
    
        <td>
            <a th:href="'/QLThietBi/edit/'+ ${rowStat.index}" >Edit</a>  
            <a th:href="'/QLThietBi/delete/'+ ${rowStat.index}">Delete</a>  
       
        </td>
        <td>
            <input type="checkbox" th:id="'checkbox_' + ${rowStat.index}" name="selectedItems" th:value="${row.maXL}" onchange="updateSelectedItems()">
        </td>
      </tr>
</table>
<br/>
<button> <a href="/addXuLy">  THÊM XỬ LÝ</button>

    <script th:inline="javascript">
        function updateSelectedItems() {
            var selectedItems = [];
            var checkboxes = document.querySelectorAll('input[name="selectedItems"]:checked');
            checkboxes.forEach(function(checkbox) {
                selectedItems.push(checkbox.value);
            });
            var selectedItemsField = document.getElementById('selectedItems');
            if (selectedItems.length > 0) {
                selectedItemsField.value = selectedItems.join(',');
            } else {
                alert("Please select at least one item.");
                return false; // Ngăn form được gửi đi
            }
            console.log(selectedItems);
        }
    </script>

</body>
</html>